<html>
<%- include ../partials/head.ejs %>
<body>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <%if (typeof error !== 'undefined') { %>
            <div class="panel-body">
                <div class="label label-danger">
                    <%- error.message %>
                </div>
            </div>
            <% } %>
            <div class="panel-body">
                <form action="/admin/login" method="post">
                    <div class="form-group">
                        <label>Account</label>
                        <input class="form-control" type="text" name="account">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" name="password">
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <input type="submit" class="btn btn-default" value="Login">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>