<div class="row">
    <div class="col-sm-12">
        <div class="btn-group">
            <a href="/admin/item" class="btn btn-default">餐點資料庫</a>
            <a href="/admin/stock" class="btn btn-default">餐點數量管理</a>
            <a href="/admin/order" class="btn btn-default">點單紀錄</a>
            <a href="/admin/report" class="btn btn-default">統計報表</a>
        </div>
    </div>
</div>