<html>
<%- include ../partials/head.ejs %>
<body>
<div class="container">
    <%- include menu.ejs %>
    <% orders.forEach(function (o) { %>
    <%- o.vip.displayName %>: <%- o.sum %>
    <% }) %>
</div>

</body>
</html>