<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel='stylesheet' href='/css/style.css' />

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="/moment/min/moment-with-locales.min.js"></script>
    <script src="/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
</head>