<!DOCTYPE html>
<html>
<%- include partials/head.ejs %>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div class="btn-group">
    <a href="/order" class="btn btn-warning">Order</a>
    <a href="/user/login" class="btn btn-primary">Login</a>
    <a href="/user/register" class="btn btn-info">Register</a>
    <a href="/admin" class="btn btn-danger">Admin Console</a>
</div>
</body>
</html>
