<!DOCTYPE html>
<html>
<%- include partials/head.ejs %>
<body>
    <div class="container">
        <div class="page-header">
            <h4>
            <%- include partials/welcome.ejs %>
            </h4>
            <ul class="breadcrumb">
                <li>點餐</li>
            </ul>
        </div>
    </div>
    <div class="row">

    </div>
</body>
</html>
